# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/
.venv/
venv/

# Project artifacts
results/
features/cache/
weights/*.pth
weights/*.pt
weights/*.tar
data/
*.log

# Notebooks
.ipynb_checkpoints/

# OS / editors
.DS_Store
.vscode/
.idea/
